<!doctype html>
<html>
<body>
  <p>Close this window to continue</p>
  <script>
    var parent = window.opener.document;
    var success = new Event('authSuccess');
    parent.dispatchEvent(success);
    window.close()
  </script>
</body></html>