<!doctype html>
<html>
<body>
  <p style='padding: 1em; text-align: center;'>You are now logged in! Close this window to continue</p>
  <script>
    var parent = window.opener.document;
    var success = new Event('authSuccess');
    parent.dispatchEvent(success);
    window.close()
  </script>
</body></html>