$gray = rgba(#aaa, .4)

md = 756px
above(width)
  @media screen and (min-width: width)
    {block}

html
  box-sizing border-box

html,
body, 
[data-react-class='PlaylistApp']
  height 100%

*,
*:before,
*:after
  box-sizing inherit

@import './modules/*'

