$gray = rgba(#aaa, .4)
$color-primary = rgba(#81C4FD, 1)
$color-primary--dark = rgba(#6B9BC8,1)

html
  box-sizing border-box

html,
body, 
[data-react-class='PlaylistApp']
  height 100%

*,
*:before,
*:after
  box-sizing inherit

@import './modules/*'

