//Easings
easeOutExpo = cubic-bezier(0.19, 1, 0.22, 1)

// Colors
$gray = rgba(#aaa, .4)
$color-primary = rgba(#81C4FD, 1)
$color-primary--dark = rgba(#6B9BC8,1)
$silver = #B1B1B1;
$twitter = #50ABF1
$facebook = #3956A0
$wiki = #444
$teal = #15B5C2
$black = #050618
$blue = #016AFE
$smalt = #00449B
$mine-shaft = #3F3F3F
$gallery = #F0F0F0
$mercury = #E7E7E7

.gray { color: $silver }

$sans-serif = 'Open Sans', 'Helvetica', sans-serif
$serif = Georgia, Times, 'Times New Roman', serif

md = 756px
above(width)
  @media screen and (min-width: width)
    {block}

html
  box-sizing border-box

html,
body, 
[data-react-class='PlaylistApp']
  height 100%

*,
*:before,
*:after
  box-sizing inherit

@import './modules/*'

