.horizontal-overflow
  position relative
  white-space nowrap
  overflow-x auto
  -webkit-overflow-scrolling touch

.vertical-overflow
  overflow-y auto
  overflow-x hidden
  -webkit-overflow-scrolling touch

.full-height
  height 100%

.flex-justify-center
  justify-content center

.container
  max-width 900px
  margin-left auto
  margin-right auto

@keyframes colors
  0%
    color #00B7C4
  20%
    color #60C3E9
  40%
    color #FF5B5E
  60%
    color #F6AE00
  80%
    color #00D186

@keyframes background-colors
  0%
    background-color #00B7C4
  20%
    background-color #60C3E9
  40%
    background-color #FF5B5E
  60%
    background-color #F6AE00
  80%
    background-color #00D186