.action
  font-family $sans-serif
  color $mine-shaft
  background none
  border none
  font-size 14px
  line-height 19px
  marging 0
  padding 0

.action--external-serif
  color $teal
  font-family $serif
  font-size 16px
  line-height 22px

.action--external-sans
  color $teal

.action--default
  color $teal
  text-decoration underline
