.article-card
  height 400px
  width 320px
  float left
  margin-right 1em

.article-card__container
  border-radius 10px
  top 0
  left 0
  background white
  height 100%
  width 100%

.article-card__summary
  flex 1 0 auto
  justify-content center