.close-button
  position absolute
  top 1rem
  right 1rem
  font-size 30px
  color black
  
.btn
  cursor pointer
  font-weight 200
  letter-spacing .5px
  border-radius 3px
  padding 9px 15px
  color #fff
  background-color $teal
  transition 100ms easeOutExpo
  box-shadow 0 3px 5px -2px rgba($black, .2)
  
.btn:hover
  // 

.btn-outline
  border-color $teal
  background white
  color $teal
  font-weight 400

.btn-outline--alt
  border-color $mine-shaft
  color $mine-shaft
  background none
  font-weight 400
  box-shadow none

.btn--edit
  background none
  color $mine-shaft
  border 1px solid $mine-shaft
  font-size 14px
  height 31px
  padding 6px 15px
  font-weight 400
  box-shadow none

.btn--search-result
  background none
  color $teal
  border-color $teal
  padding 6px 15px
  height 31px
  font-weight 400
  font-size 14px
  box-shadow none

.btn--oauth
  width 300px
  border-radius 3px
  cursor pointer

  &.twitter
    background $twitter
    border-color $twitter

  &.facebook
    background $facebook
    border-color $facebook

  &.wiki
    background $wiki
    border-color $wiki