.actions
  align-items stretch

.actions .btn
  display block
  flex 1
  text-align center
  transition 300ms linear
  
  &:first-of-type
    border-right-color $color-primary--dark
  
  &:last-of-type
    border-left-color lighten($color-primary, 10%)