.close-button
  position absolute
  top 1rem
  right 1rem
  font-size 30px
  color black
  
.btn
  border 1px solid $color-primary
  border-bottom 3px solid $color-primary--dark
  font-weight 400
  color #fff
  background-color $color-primary
  
.btn:hover
    border 1px solid $color-primary