$success = #16ad52

.message
  visibility hidden
  +above(md)
    position absolute
    left 50%
    transform translateX(-50%)
    width 30%
    text-align center
    z-index 75

.message--error
  color white
  background tomato
.message--success
  color white
  background $success

.message--action
  background gold
  color darken(gold, 60%)