.home
  padding 2rem 1rem
  +above(lg)
    padding 4rem 0 2rem

.home-copy
  max-width 700px
  line-height 1.5

.color-title
  font-weight bold
  animation colors 10s infinite linear
  color #00B7C4
  font-size 35px
  line-height 1.3
  +above(md)
    font-size 55px
    line-height 75px
    
.home__introduction
  max-width 700px
  margin 1rem auto 2rem
  text-align center
  +above(md)
    margin-bottom 4rem
    font-size 18px
    line-height 1.6

@keyframes colors
  0%
    color #00B7C4
  20%
    color #60C3E9
  40%
    color #FF5B5E
  60%
    color #F6AE00
  80%
    color #00D186