.image-selector
  flex 1
  position relative
  // white-space nowrap
  +above(md)
    max-width 30%
    overflow hidden
  

.image-selector__image
  display inline-block
  vertical-align top
  position relative
  height 200px
  width 300px
  background-position top center
  background-size cover
  background-repeat no-repeat
  +above(md)
    width 100%
    height 300px
    
  img
    max-height 100%

.image-selector__description
  white-space normal
  font-size 12px
  line-height 1.2
  
.slick-slider
  position relative
  width 100%

.slick-dots
  margin 0
  padding 0
  list-style none
  text-align center
  
  li
    display inline-block
  
  button
    position relative
    background none
    border none
    display block
    color transparent
    
    &:focus
      outline 0

    &:after
      content ''
      position absolute
      top 0
      left 0
      display block
      width 8px
      height 8px
      background white
      border 1px solid rgba(black, .5)
      border-radius 50%
  
  li.slick-active button:after
    background rgba(black, .5)

.image-selector__controls
  padding 0 1rem
  
  +above(md)
    position absolute
    background-color rgba(black, .1)
    bottom 0
    left 0
    right 0
    z-index 10
    border-bottom-left-radius 10px
    align-items center
    padding 0
    
    .action
      color white
      padding .5rem 1rem
      &:hover
        background rgba(black, .3)

.slick-slide
  +above(md)
    border-top-left-radius 10px
    border-bottom-left-radius 10px
    overflow hidden

.slick-next,
.slick-prev
  position absolute
  top 100px
  left 0
  color transparent
  width 30px
  height 30px
  display block
  margin-top -15px
  background none
  border none
  background-image url('/icons/arrow-left.svg')
  background-repeat no-repeat
  background-size contain
  background-color rgba(black, .1)
  
  +above(md)
    top 150px
  
  &:focus
    outline 0
    background-color rgba(black, .2)

.slick-next
  left auto
  right 0
  background-image url('/icons/arrow-right.svg')