.login-dialogue,
.login-dialogue__container
  position fixed
  top 0
  left 0
  right 0
  bottom 0

.login-dialogue
  margin 0 auto
  z-index 101
  background rgba(black, .7)
  
  .login__buttons a
    display block
    margin 0 auto 1rem

.login-dialogue__container
  z-index 75
  margin auto
  width 100%
  height 100%
  justify-content center
  visibility hidden
  border-radius 10px
  box-shadow 0px 2px 4px 0px rgba(0,0,0,0.22)

  +above(md)
    width 50%
    height 300px

.login-cta
  margin 2rem auto
  z-index 101
  background rgba(white, .7)
  
  h3
    margin-bottom 1rem
    animation colors 10s infinite linear
    +above(md)
      font-size 26px
  
  p
    margin-bottom 1rem

.login-cta__container
  z-index 75
