.login-dialogue,
.login-dialogue__container
  position fixed
  top 0
  left 0
  right 0
  bottom 0

.login-dialogue
  max-width 750px
  margin 2rem auto
  z-index 101
  background rgba(white, .7)
  
.login-dialogue__container
  z-index 75
  margin auto
  width 100%
  height 100%
  justify-content center
  visibility hidden
  border-radius 10px
  box-shadow 0px 2px 4px 0px rgba(0,0,0,0.22)
  
  +above(md)
    width 50%
    height 50%

.login-cta
  max-width 750px
  margin 2rem auto
  z-index 101
  background rgba(white, .7)

.login-cta__container
  z-index 75