.onboarding__screen
  position fixed
  top 0
  left 0
  width 100%
  height 100%
  background rgba($black, .7)
  z-index 51

.onboarding__title
  position relative
  z-index 52
  height 230px

.onboarding__header
  font-weight 600
  color $teal

.onboarding__column
  height 100%
  justify-content space-between
  flex 1

  +above(md)
    padding 2rem

  .field
    width 100%
    border-color rgba(0,0,0,.4)

  .character-limit
    right 7px
    top 2px

.onboarding__image
  display none
  +above(md)
    display block
    background-size 80% auto
    background-position center
    background-repeat no-repeat
    flex-basis 30%

.onboarding__finish
  margin-left auto
