.playlist
  position relative
  z-index 50

.playlist__caption
  min-height 150px
  
  +above(md)
    max-width 300px
  
  textarea.invisible-input
    width 100%
    height 130px

.playlist-actions
  max-width 300px
  margin auto