.playlist
  position relative
  z-index 50
  padding 0 1rem
  +above(md)
    padding 0

.playlist__container
  padding-top 1rem

.playlist__caption

  +above(md)
    width 300px

  p
    padding 4px
    border-bottom 2px solid transparent
    line-height 1.75

  .character-limit
    // right -30px

.playlist-actions
  max-width 300px
  margin auto

.playlist__background-color
  position absolute
  z-index -1
  top 0
  left 0
  right 0
  width 100%
  height 300px
  +above(md)
    height 400px

.playlist__background-color-picker
  background white
  display flex
  padding 7px
  position absolute
  z-index 4
  top 0
  right 0
  border-radius 2px

  +above(1rem)
    top 1rem
    right 1rem

.color-swatch
  margin-right .5rem
  cursor pointer
  transition 200ms linear
  &:hover
    opacity .8
  &:last-child
    margin-right 0
