.playlist
  position relative
  z-index 50

.playlist__caption
  // flex-basis 100%
  min-height 150px
  
  +above(md)
    max-width 300px
  
  .field
    width 100%
    height 125px
    border none
    &:focus,
    &:active
      outline 0
      box-shadow none
      border none

.playlist-actions
  max-width 300px
  margin auto