.sharing__overlay 
  background rgba($black, .5)
  position fixed
  top 0
  left 0
  right 0
  bottom 0
  width 100%
  height 100%
  z-index 101
  display flex
  justify-content center
  align-items center
  
  img
    vertical-align top

.sharing__container.card
  max-width 300px
  height auto
  
  .close-button
    opacity .5
    font-size 25px

// Share Image

.share-image
  background $teal
  height 399px
  overflow hidden
  width 764px

.share-image__articles
  height 300px

.share-image__title
  color white
  text-transform uppercase
  
  
  h1
    color white
    letter-spacing .2rem
    font-size 55px

.share-image__user
  padding-top 40px
  font-weight 100
  letter-spacing 1px
  margin-bottom 20px
  font-size 35px
    