.sharing__overlay 
  background rgba($black, .5)
  position fixed
  top 0
  left 0
  right 0
  bottom 0
  width 100%
  height 100%
  z-index 51
  display flex
  justify-content center
  align-items center

.sharing__container
  max-width 300px
  height auto
  
  .close-button
    opacity .5
    font-size 25px
    