body
  background-color $gallery
  background-image url(/images/background-pattern.png)
  background-size 300px auto

.site
  height 100%

.logo__image
  position relative
  top -1px
  margin-right .5rem
  
.logo__text
  position relative
  top 1px

.site__navigation
  background white
  position relative
  z-index 100
  box-shadow 0px 2px 4px 0px rgba(0,0,0,0.15)
  padding .5rem
  +above(lg)
    padding 1rem 0

  img
    display inline-block
    vertical-align middle
    border none

  .btn-primary
    border-radius 0
    +above(md)
      border-radius 3px

.site__content
  padding 0

.site__mobile-navigation
  max-height 0px
  overflow hidden
  transition all 300ms linear
  padding 0 2rem

  &.open
    max-height 9999px
  
.site__footer
  small
    display inline-block
    max-width 600px
    font-size 10px
    line-height 1.3

.site__footer__inappropriate-content
  font-size 12px
