.character-limit
  position absolute
  top 3px
  right 5px
  font-size 12px
  opacity .5

input.invisible-input,
textarea.invisible-input
  border none
  background none
  padding 0
  height auto
  border 1px solid transparent
  &:focus
    outline 0
    border 1px solid white