@import url(https://fonts.googleapis.com/css?family=Lato:400/,700/,300);

$sans-serif = 'Lato', sans-serif

body
  font-family $sans-serif

h1,
h2,
h3,
h4,
h5
  font-family $sans-serif

.assistive-text
  font-size 11px
  padding-top 3px