html
  font-size 16px

body
  font-family $sans-serif
  line-height 21px
  color $black
  
h1, h2, h3, h4, h5, h6, p, blockquote
  margin-top 0
  margin-bottom 0
  padding 0

.prose
  h1, h2, h3, h4, h5, h6, p, blockquote
    margin-bottom 16px
    &:last-child
      margin-bottom 0

h1,
h3
  font-family $sans-serif

h1, .h1
  font-weight 600
  font-size 22px
  line-height 30px
  +above(md)
    font-size 41px
    line-height 52px

h2
  font-family $serif
  font-weight 100
  font-size 28px
  line-height 34px
  +above(md)
    font-size 36px
    line-height 41px

.h3
  font-weight 400
  font-size 20px
  line-height 27px

.caption
  color $mine-shaft

.summary
  color $mine-shaft
  font-family $serif
  +above(md)
    font-size 18px
    line-height 26px

.assistive-text
  font-size 11px
  padding-top 3px